.modal-card{
    
    font-size: 20px;
    height: 250px;
    background-color:#FFC3D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-card__content{
    position: relative;
    /* overflow: hidden; */
    border-radius: 10px;
    height: 180px;
    width: 320px;
    background: linear-gradient(135deg, rgba(3, 2, 5, 1) 0%, rgba(117, 57, 213, 1) 50%, rgba(241, 30, 100, 1) 100%);
}

.modal-card__chip{
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
    width: 35px;
    height: 27px;
   
}

.modal-card__chip img{
    width: 100%;
    height: 100%;
    
}

.modal-card__img{
    right: 10px;
    bottom: 25px;
    position: absolute;
    width: 45px;
    height: 30px;
}
.modal-card__img img{
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.modal-card__date{
    position: absolute;
    padding: 0 0 15px 20px;
    left: 0;
    bottom: 0;
    color: white;
    display: grid;
    grid-template-areas: "A B" "C C" ;
    gap: 5px;
    
}

.modal-card__name-person{
    font-size: 12px;
    font-weight: 500;
}

.modal-card__date-card{
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    justify-self: end;
}

.modal-card__card-account{
    font-size: 13px;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 300;
    word-spacing: 5px;
    letter-spacing: 1px;
    grid-column: 1 / 3;
    grid-row: 2;
}