.main-body {
    width: 100%;
    height: 100vh;
    background: rgb(235, 115, 115);
    background: linear-gradient(0deg, rgba(252, 238, 238, 1) 0%, rgba(235, 115, 115, 1) 100%);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: black;
}

.screen {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px 35px 20px 35px;
    box-shadow: -1px 10px 10px 7px rgba(7, 48, 81, 0.24);
}

.screen_form {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
    flex: 1;
}